//Primary Color
$red: hsl(0, 100%, 68%); //#ff5b5b

//Neutral Color
$veryDarkBlue: hsl(230, 29%, 20%);      //#242941
$darkGrayishBlue: hsl(230, 11%, 40%);   //#5a5e71
$grayishBlue: hsl(230, 7%, 65%);        //#9fa1ab
$lightGrayishBlue: hsl(210, 31%, 95%);  //#eef2f6
$white: hsl(0, 0%, 100%);               //ffffff
$pinkishRed: hsl(0, 100%, 58%);         //ff5b5b